{% extends "base.html" %} {% block title %}Aeras Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="container">
              <div class="row row-cols-1 row-cols-md-1 g-4">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-8">
                              <h5 class="card-title">Level 5</h5>
                              <div class="alert alert-primary" role="alert">
                                Occupancy: {{gen_total["levels"][5]}}
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="card p-3">
                                <div>
                                  <h6>Air Flow Rate</h6>
                                  <h5>{{ gen_total["airflow"][5] }}%<span></span></h5>
                                  <div class="progress">
                                    <div class="progress-bar bg-c-red" style="width: {{ gen_total['airflow'][5] }}%"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-8">
                              <h5 class="card-title">Level 4</h5>
                              <div class="alert alert-primary" role="alert">
                                Occupancy: {{gen_total["levels"][4]}}
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="card p-3">
                                <div>
                                  <h6>Air Flow Rate</h6>
                                  <h5>{{ gen_total['airflow'][4] }}%<span></span></h5>
                                  <div class="progress">
                                    <div class="progress-bar bg-c-red" style="width: {{ gen_total['airflow'][4] }}%"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-8">
                              <h5 class="card-title">Level 3</h5>
                              <div class="alert alert-primary" role="alert">
                                Occupancy: {{gen_total["levels"][3]}}
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="card p-3">
                                <div>
                                  <h6>Air Flow Rate</h6>
                                  <h5>{{ gen_total['airflow'][3] }}%<span></span></h5>
                                  <div class="progress">
                                    <div class="progress-bar bg-c-red" style="width: {{ gen_total['airflow'][3] }}%"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-8">
                              <h5 class="card-title">Level 2</h5>
                              <div class="alert alert-primary" role="alert">
                                Occupancy: {{gen_total["levels"][2]}}
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="card p-3">
                                <div>
                                  <h6>Air Flow Rate</h6>
                                  <h5>{{ gen_total['airflow'][2] }}%<span></span></h5>
                                  <div class="progress">
                                    <div class="progress-bar bg-c-red" style="width: {{ gen_total['airflow'][2] }}%"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-8">
                              <h5 class="card-title">Carpark</h5>
                              <div class="alert alert-primary" role="alert">
                                Occupancy: {{gen_total["levels"][1]}}
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="card p-3">
                                <div>
                                  <h6>Air Flow Rate</h6>
                                  <h5>{{ gen_total['airflow'][1] }}%<span></span></h5>
                                  <div class="progress">
                                    <div class="progress-bar bg-c-red" style="width: {{ gen_total['airflow'][1] }}%"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                
              </div>
            </div>
        </div>
        <div class="'col-sm">
            <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Lifts</div>
                <div class="card-body">
                  <h5 class="card-title">Lift Occupancy</h5>
                  <p class="card-text">Current Occupancy: {{gen_total["lift"]}}</p>
                </div>
              </div>
              <div class="col">
                <div class="card p-3">
                  <div>
                    <h6>Total Air Flow</h6>
                    <h5>{{ gen_total['airflow']['total'] }}%<span></span></h5>
                    <div class="progress">
                      <div class="progress-bar bg-c-red" style="width: {{ gen_total['airflow']['total'] }}%"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card p-3">
                  <div>
                    <h6>Outdoor Air Intake</h6>
                    <h5>{{ gen_total['airflow']['outdoor'] }}%<span></span></h5>
                    <div class="progress">
                      <div class="progress-bar bg-c-red" style="width: {{ gen_total['airflow']['outdoor'] }}%"></div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>


{% endblock %}