{% extends "base.html" %} {% block title %}Aeras Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-1 g-4">
                <div class="col">
                  <div class="card">
                    <img src="..." class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Level 5</h5>
                      <div class="alert alert-primary" role="alert">
                        Occupancy: 5
                      </div>          
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="..." class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Level 4</h5>
                      <div class="alert alert-primary" role="alert">
                        Occupancy: 5
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="..." class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Level 3</h5>
                      <div class="alert alert-primary" role="alert">
                        Occupancy: 5
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="..." class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Level 2</h5>
                      <div class="alert alert-primary" role="alert">
                        Occupancy: 5
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="..." class="card-img-top" alt="">
                      <div class="card-body">
                        <h5 class="card-title">Carpark</h5>
                        <div class="alert alert-primary" role="alert">
                            Occupancy: 5
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="'col-sm">
            <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Lifts</div>
                <div class="card-body">
                  <h5 class="card-title">Lift Occupancy</h5>
                  <p class="card-text">Current Occupancy: 2</p>
                </div>
              </div>
              
        </div>
    </div>
</div>


{% endblock %}